:root{
    --orange: #ff6932;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-orange{
    background-color: var(--orange);
}

.h-15{
    height: 15%;
}
